body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}

#content, #header, #footer {
  max-width: 800px;
  margin: auto;
  padding: 0em 1em;
}

#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

#header-bg {
  background: #334;
}

#title-link, .menu-item {
  color: #eee;
}

#title {
  flex-grow: 2;
  display: block;
}

#title-item {
  margin: 0;
}

.subtitle-item {
  color: #ccc;
}

#title-link {
  text-decoration: none;
}

#title-link:hover {
  text-decoration: underline;
}

.nobullet {
  list-style-type: none;
  padding-left: 0;
}

#menu {
  column-count: 2;
}

.menu-item {
  margin: 0;
  line-height:1.5em;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid #bbb;
}

#me {
  height: 5em;
  width: 5em;
  border-radius: 0.25em;
}

.key {
  background-color: #ccf;
  color: #222;
  border-radius: 2px;
  font-size: 0.75em;
  padding: 0.125em 0.25em;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
}

.sneaky-link {
  text-decoration: none;
}

.sneaky-link:link {
  color: inherit;
}

.sneaky-link:visited {
  color: inherit;
}

.sneaky-link:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'icons';
  src: url("/icons.woff2"), url("/icons.ttf");
}

.i {
  font-family: 'icons';
  font-size: 85%;
  font-style: normal;
  margin: 0;
}

.i-ul > li {
  position: relative;
}

.menu-item > a {
  left: 1.125em;
  position: relative;
}

.menu-item > i {
  left: 0em;
  position: absolute;
  text-align: center;
}

.i-feed::before {
  content: '\e900';
}

.i-tag::before {
  content: '\e901';
}

.i-github::before {
  content: '\e902'
}

.i-list::before {
  content: '\e903';
}

.i-info::before {
  content: '\e904';
}

.i-wrench::before {
  content: '\e905';
}

.i-key::before {
  content: '\e98d';
}

#content-title {
  margin-bottom: 0.25em;
}

.date {
  color: #446;
}

.item-dense {
  margin-bottom: 0.25em;
}
